:root {
  --cols: 1;
}

html {
  box-sizing: border-box;
}

body {
  margin: 80px 0 0 0;
  padding: 0;
  min-width: 252px;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.center {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 2016px;
  padding: 0 16px;
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}

.zoom {
  cursor: zoom-in;
}

#navbar-pinterest {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 4px 16px;
}

#switch-page {
  margin-right: auto;
  cursor: pointer;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 100vw;
  cursor: pointer;
}

.finder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row-reverse;
}

.finder input {
  display: none;
}

.icon:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.card-image {
  position: relative;
  width: 252px;
  height: auto;
  padding-left: 8px;
  padding-right: 8px;
}

img {
  border: 0;
  border-radius: 8px;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.card-image__hover {
  display: none;
  border: 0;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  height: 100%;
  width: 236px;
  left: 8px;
  top: 0;
}

.card-image:hover > .card-image__hover {
  display: block;
}

.card-image-container {
  width: fit-content;
}

.card-image + .card-image {
  margin-top: 16px;
}

.btn-white {
  position: absolute;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 8px;
  background-color: #ffffffcc;
}

.btn-white:hover {
  background-color: #ffffff;
}

.btn-red {
  position: absolute;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100vw;
  padding: 12px 16px;
  background-color: #c00;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.btn-red:hover {
  background-color: #c00c;
}

.save-img {
  top: 12px;
  right: 10px;
}

.download-img {
  bottom: 12px;
  right: 8px;
}

.option-img {
  bottom: 12px;
  right: 48px;
}

#more-options:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#switch-page {
  display: flex;
  align-items: center;
  padding: 16px;
}

#switch-page:hover {
  border-radius: 100vw;
  background-color: rgba(0, 0, 0, 0.05);
}

.arrow {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.arrow::before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 4px;
  left: 7px;
  border-left: 2px solid #767676;
  border-top: 2px solid #767676;
  transform: rotate(225deg);
}

input:focus {
  outline-color: rgb(0 132 255/0.5);
}

.modal {
  width: 360px;
  max-width: 95%;
  display: none;
  position: absolute;
  background-color: white;
  /* align-items: center; */
  /* justify-content: center; */
  border-radius: 8px;
  padding: 8px;
  /* border: 1px solid #76767622; */
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  top: 64px;
}

.active + .modal, #more-options.active + .modal {
  display: flex;
  flex-direction: column;
}
.active path {
  fill: black;
}

#add-pin-modal {
  width: 164px;
  right: 126px;
}

#add-pin-modal > div {
  /* text-align: center; */
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

#add-pin-modal > div:hover {
  background-color: #76767622;
}

#notifications-modal {
  text-align: center;
  right: 8px;
  height: calc(98vh - 64px);
}

#message-modal {
  right: 8px;
  height: calc(95vh - 64px);
  border: 1px solid #76767622;
}

#message-modal h2 {
  font-size: 32px;
}

#message-modal input {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  cursor: pointer;
  padding: 8px 40px;
  border-radius: 8px;
  border: 1px solid #767676CC;
  width: 100%
}

#message-modal input:focus {
  border: 1px solid blue;
}
/* 
#message-modal input:hover {
  border: 1px solid #767676;
} */

#more-options-modal {
  padding: 8px;
  right: 8px;
}

#more-options-modal > * {
  padding: 8px;
}

.options-info > div {
  padding: 8px;
}

.hover:hover {
  background-color: #76767622;
  border-radius: 8px;
  cursor: pointer;
}

#btn-hoy {
  display: none;
}

.finder.small-input {
  width: 100%;
}

.finder.small-input input {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 100vw;
  font-family: 'Oxygen';
  background-color: transparent;
  font-size: 16px;
}

.finder.small-input svg {
  display: none;
}

.finder.small-input input {
  padding-left: 16px;
}

@media screen and (min-width: 536px) {
  :root {
    --cols: 2;
  }

  #switch-page {
    margin-right: 0;
  }

  .finder {
    width: 100%;
    background-color: #76767611;
  }

  .finder svg {
    margin-left: 16px;
    cursor: default;
  }

  .finder input {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 100vw;
    font-family: 'Oxygen';
    background-color: transparent;
    font-size: 16px;
  }

  .finder input:focus ~ svg {
    display: none;
  }

  .finder input:focus {
    padding-left: 16px;
  }
}

@media screen and (min-width: 788px) {
  :root {
    --cols: 3;
  }

  #switch-page {
    background-color: black;
    color: white;
    border-radius: 100vw;
    margin-right: 0;
  }

  #switch-page:hover {
    background-color: black;
    color: white;
  }

  #switch-page .arrow {
    display: none;
  }

  #btn-hoy {
    display: block;
    padding: 16px;
    color: black;
  }
}

@media screen and (min-width: 1040px) {
  :root {
    --cols: 4;
  }
}

@media screen and (min-width: 1292px) {
  :root {
    --cols: 5;
  }
}

@media screen and (min-width: 1544px) {
  :root {
    --cols: 6;
  }
}

@media screen and (min-width: 1796px) {
  :root {
    --cols: 7;
  }
}

@media screen and (min-width: 2048px) {
  :root {
    --cols: 8;
  }
}