html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}


.card-image {
  width: 236px;
  height: auto;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}